<!-- ZIPCODE -->

<form id="custom-zip">
	<input type="text" placeholder="Enter a Zip Code" class="target" />
    <input type="submit" value="View Data" />
</form>
<span class="message"></span> 




<!-- DASHBOARD -->
<div id='dashboard'></div>


<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="js/chard3.js"></script>
<script src="js/index.js"></script>




<!-- OTHER -->

<div class="container">
  <h2>Delphi Data</h2>
  <p>Regional Crime:</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Agency</th>
        <th>Charge Description</th>
        <th>Time</th>
        <th>Address</th>
        <th>Zip</th>
        <th>Community</th>

      </tr>
    </thead>
    <tbody id="delphi-table">
    </tbody>
  </table>
</div>
